/* font for the website use */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Yuji+Hentaigana+Akebono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}


/* styling of the navigation bar */

.logo-text {
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-weight: 400;
    font-size: 2em;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links li {
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 108px;
    background-color: black;
}

/* styling of the intro section */

.intro {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}

.intro-img{
    display: block;
    flex-basis: 35%;
    width: 100%;
    height: 580px;
    object-fit: contain;
}

.intro-details {
    flex-basis: 50%;
}

.intro-heading {
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 16px;
    line-height: 1.3;
}

.intro p {
    font-size: 1.15em;
    padding-bottom: 16px;
}

.intro-info {
    padding-top: 18px;
}


.intro-info span {
    display: inline-block;
}

.intro-info p{
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 8px;
}

/* styling of the contact section */

.contact {
    border: 1px solid;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

.contact h2 {
    font-weight: 600;
    font-size: 2em;
}

.contact-list {
    display: flex;
    gap: 20px;
}

.contact-list p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.15em;
}

.social {
    display: flex;
    gap: 10px;
}

.social a {
    display: block;
    color: black;
    font-size: 1.6em;
}

/* styling of the footer section */

.footer {
    text-align: center;
    padding: 12px 0;
    margin-top: 80px;
    background-color: black;
    color: white;
}


/* styling for the about us page */

.about-section {
    padding-top: 60px;
    width: 70%;
    margin: auto;
}

.about-heading {
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 24px;
}

.about-section p {
    font-size: 1.15em;
}

.about-img {
    display: block;
    margin: 40px auto;
}


/* styling of the menu section */

.menu-section {
    width: 72%;
    margin: auto;
    padding-top: 60px;
}

.menu-heading {
    font-size: 2.5em;
    padding-bottom: 12px;
}

.menu-item {
    width: 280px;
}

.btn-group {
    padding-bottom: 40px;
}

.filter-btn {
    display: inline-block;
    padding: 4px 12px;
    font-family: inherit;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 8px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.img-holder {
    width: 100%;
    height: 260px;
}

.img-holder img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-details {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.price {
    font-size: 1.15em;
}

.name-cat h3 {
    font-size: 1.2em;
    font-weight: 600;
}   

.name-cat p{
    font-size: 0.9em;
}

